<html lang="en">

<head>
    <meta charset="utf-8">
    <title>File Management</title>
    <link href="/assets/css/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet"> -->
    <!-- <script src="/assets/js/jquery-3.3.1.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script> -->
    <!-- <script src="/assets/js/bootstrap.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script> -->

    <!--TRIAL START-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/extensions/filter-control/bootstrap-table-filter-control.js"></script>
    <script type="text/javascript" src="/assets/export/tableExport.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/extensions/export/bootstrap-table-export.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/extensions/toolbar/bootstrap-table-toolbar.js"></script>

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css" />
    <!--TRIAL END-->
</head>

<body>
    <div class="container">
        <%- include navigation.ejs %>
            <% if(roles.includes('user')) {%>
                <button class="btn btn-success addNew" data-toggle="modal">Add New</button>
                <% } %>
                    <table class="table w-auto small" id="mytable" data-toggle="table" data-height="600"
                        data-show-columns="true" data-show-export="true" data-pagination="true" data-search="true"
                        data-export-types="['excel', 'csv', 'txt']" data-filter-control="true">
                        <thead>
                            <tr>
                                <% if(roles.includes('user')) {%>
                                    <th data-field="uid" data-sortable="true">File ID</th>
                                    <th data-field="name" data-sortable="true" data-filter-control="input">File Name
                                    </th>
                                    <th data-field="financialYear" data-sortable="true" data-filter-control="select">Fin
                                        Year</th>
                                    <th data-field="inPowerOf" data-sortable="true" data-filter-control="select">In
                                        Power of</th>
                                    <th data-field="amount" data-sortable="true" data-filter-control="input">Amount</th>
                                    <th data-field="currStatus" data-sortable="true" data-filter-control="select">
                                        Current Status</th>
                                    <th data-field="vettedAmount" data-sortable="true" data-filter-control="input">
                                        Vetted Amt</th>
                                    <th data-field="catgory" data-sortable="true" data-filter-control="select">Category
                                    </th>
                                    <th data-field="createTimestamp" data-sortable="true" data-filter-control="input">
                                        Create Date</th>

                                    <th>Actions</th>
                                    <%} if(roles.includes('admin') || roles.includes('fx')) {%>
                                        <th data-field="uid" data-sortable="true">File ID</th>
                                        <th data-field="name" data-sortable="true" data-filter-control="input">File Name
                                        </th>
                                        <th data-field="financialYear" data-sortable="true"
                                            data-filter-control="select">Fin Year</th>
                                        <th data-field="createdBy" data-sortable="true" data-filter-control="select">
                                            Created By</th>
                                        <th data-field="inPowerOf" data-sortable="true" data-filter-control="select">In
                                            Power of</th>
                                        <th data-field="amount" data-sortable="true" data-filter-control="input">Amount
                                        </th>
                                        <th data-field="currStatus" data-sortable="true" data-filter-control="select">
                                            Current Status</th>
                                        <th data-field="vettedAmount" data-sortable="true" data-filter-control="input">
                                            Vetted Amt</th>
                                        <th data-field="catgory" data-sortable="true" data-filter-control="select">
                                            Category</th>
                                        <th data-field="createTimestamp" data-sortable="true"
                                            data-filter-control="input">Create Date</th>
                                        <th>Actions</th>
                                        <%}%>
                            </tr>
                        </thead>
                        <tbody>
                            <%table.forEach(function(entry) {%>
                                <tr>
                                    <% if(roles.includes('user')) {%>
                                        <!--USER ROLE-->
                                        <td><a href="javascript:void(0);" class="badge badge-info info"
                                                data-id="<%=entry.uid%>">
                                                <%=entry.uid%>
                                            </a></td>
                                        <td>
                                            <%=entry.name%>
                                        </td>
                                        <td>
                                            <%=entry.financialYear%>
                                        </td>
                                        <td>
                                            <%=entry.onBehalfOf%>
                                        </td>
                                        <td>
                                            <%=entry.amount%>
                                        </td>
                                        <td>
                                            <%=entry.currStatus%>
                                        </td>
                                        <td>
                                            <%=entry.vettedAmount%>
                                        </td>
                                        <td>
                                            <%=categories.find(obj=> obj.priority === parseInt(entry.category)).text%>
                                        </td>
                                        <!-- <td><%=entry.category%></td> -->
                                        <td>
                                            <%=entry.createTimestamp%>
                                        </td>
                                        <td>
                                            <!--Edit and Delete can only be done by user if the status is saved or rejected-->
                                            <%if(entry.currStatus==='File Record Saved' ||
                                                entry.currStatus==='Returned with Observations' ){ %>
                                                <!--Delete only applicable for user and admin-->
                                                <button class="btn btn-success btn-sm rounded-0 edit" type="button"
                                                    data-toggle="tooltip" data-id="<%=entry.uid%>" data-placement="top"
                                                    title="Edit"><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-danger btn-sm rounded-0 delete" type="button"
                                                    data-toggle="tooltip" data-placement="top" title="Delete"
                                                    data-id="<%=entry.uid%>"><i class="fa fa-trash"></i></button>
                                                <%}%>
                                                    <%for ( var i=0; i < entry.nextActions.length; i++ ){%>
                                                        <a href="javascript:void(0);"
                                                            class="btn btn-sm btn-primary action"
                                                            data-id="<%=entry.uid%>"
                                                            data-action="<%=entry.nextActions[i]%>">
                                                            <%=entry.nextActions[i]%>
                                                        </a>
                                                        <%}%>
                                        </td>
                                        <%} if(roles.includes('fx')) {%>
                                            <!--FX ROLE-->
                                            <td><a href="javascript:void(0);" class="badge badge-info info"
                                                    data-id="<%=entry.uid%>">
                                                    <%=entry.uid%>
                                                </a></td>

                                            <td>
                                                <%=entry.name%>
                                            </td>
                                            <td>
                                                <%=entry.financialYear%>
                                            </td>
                                            <td>
                                                <%=(entry.createdBy)?entry.createdBy.designation.designation:''%>
                                            </td>
                                            <td>
                                                <%=entry.onBehalfOf%>
                                            </td>
                                            <td>
                                                <%=entry.amount%>
                                            </td>
                                            <td>
                                                <%=entry.currStatus%>
                                            </td>
                                            <td>
                                                <%=entry.vettedAmount%>
                                            </td>
                                            <td>
                                                <%=categories.find(obj=> obj.priority ===
                                                    parseInt(entry.category)).text%>
                                            </td>
                                            <!-- <td><%=entry.category%></td> -->
                                            <td>
                                                <%=entry.createTimestamp%>
                                            </td>
                                            <td>
                                                <%for ( var i=0; i < entry.nextActions.length; i++ ){%>
                                                    <a href="javascript:void(0);" class="btn btn-sm btn-primary action"
                                                        data-id="<%=entry.uid%>"
                                                        data-action="<%=entry.nextActions[i]%>">
                                                        <%=entry.nextActions[i]%>
                                                    </a>
                                                    <%}%>
                                            </td>
                                            <%} if(roles.includes('admin')){%>
                                                <!--ADMIN ROLE-->
                                                <td><a href="javascript:void(0);" class="badge badge-info info"
                                                        data-id="<%=entry.uid%>">
                                                        <%=entry.uid%>
                                                    </a></td>
                                                <td>
                                                    <%=entry.name%>
                                                </td>
                                                <td>
                                                    <%=entry.financialYear%>
                                                </td>
                                                <td>
                                                    <%=(entry.createdBy)?entry.createdBy.designation.designation:''%>
                                                </td>
                                                <td>
                                                    <%=entry.onBehalfOf%>
                                                </td>
                                                <td>
                                                    <%=entry.amount%>
                                                </td>
                                                <td>
                                                    <%=entry.currStatus%>
                                                </td>
                                                <td>
                                                    <%=entry.vettedAmount%>
                                                </td>
                                                <td>
                                                    <%=categories.find(obj=> obj.priority ===
                                                        parseInt(entry.category)).text%>
                                                </td>
                                                <!-- <td><%=entry.category%></td> -->
                                                <td>
                                                    <%=entry.createTimestamp%>
                                                </td>
                                                <td>
                                                    <!--Delete can be done by admin anytime-->
                                                    <button class="btn btn-danger btn-sm rounded-0 delete" type="button"
                                                        data-toggle="tooltip" data-placement="top" title="Delete"
                                                        data-id="<%=entry.uid%>"><i class="fa fa-trash"></i></button>
                                                </td>

                                                <%}%>
                                </tr>
                                <%});%>
                        </tbody>
                    </table>
    </div>

    <!-- Add/Edit New File Record-->
    <form method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">File Name</label>
                            <input type="text" name="name" class="form-control name" placeholder="File Name" required>
                        </div>

                        <div class="form-group">
                            <label for="fundType">Type of fund</label>
                            <select class="form-control fundType" name="fundType" aria-placeholder="Type of fund">
                                <option value="none" selected disabled>Select Fund Type</option>
                                <% for ( var i=0; i < fundTypes.length; i++ ) {%>
                                    <option value="<%=fundTypes[i] %>">
                                        <%=fundTypes[i] %>
                                    </option>
                                    <%}%>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="allocation">Allocation</label>
                            <select class="form-control allocation" name="allocation" aria-placeholder="Allocation">
                                <option value="none" selected disabled>Select allocation</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="onbehalf" id="on_behalf">On Behalf of</label>
                            <select class="form-control onBehalfOf" name="onBehalfOf" aria-placeholder="On Behalf Of">
                                <option value="self" selected>Self</option>
                                <% for ( var i=0; i < special_users.length; i++ ) {%>
                                    <option value="<%=special_users[i]._id %>">
                                        <%=special_users[i].name %>
                                    </option>
                                    <%}%>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="financialYear">Financial Year</label>
                            <select class="form-control financialYear" name="financialYear" id="financialYear"
                                aria-placeholder="Financial Year">
                                <option value="none" selected disabled>Select Year</option>
                                <% for ( var i=0; i < years.length; i++ ) {%>
                                    <option value="<%=years[i] %>">
                                        <%=years[i] %>
                                    </option>
                                    <%}%>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="amount" id="amount_label">Amount</label>
                            <input type="number" name="amount" id="amount" class="form-control amount"
                                placeholder="Amount" required>
                        </div>

                        <div class="form-group">
                            <label for="dealer">Dealer</label>
                            <input type="text" name="dealer" class="form-control dealer" placeholder="Dealer" required>
                        </div>

                        <div class="form-group">
                            <label for="contact">Contact</label>
                            <input type="text" name="contact" class="form-control contact" placeholder="Contact No"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control category" id="category" name="category"
                                aria-placeholder="Category">
                                <option value="none" selected disabled>Select Category</option>
                                <% for ( var i=0; i < categories.length; i++ ) {%>
                                    <option value="<%=categories[i].priority %>">
                                        <%=categories[i].text %>
                                    </option>
                                    <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="user" class="user" value='<%=JSON.stringify(user)%>'></input>
                        <input type="hidden" name="uid" class="uid">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- File Record Info-->
    <form action="" method="post">
        <div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">File Status History</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="uid" class="uid">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <!-- Change status-->
    <form action="/tracker/files/changeStatus?_method=put" method="post">
        <div class="modal fade" id="StatusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change File Status</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <strong>Are You Sure To Perform this action?</strong>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="uid" class="uid3">
                        <input type="hidden" name="action" class="action">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update Status</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Delete File Record-->
    <form id="add-row-form" action="/tracker/files/delete?_method=delete" method="post">
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Delete File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <strong>Are You Sure To Delete This Record?</strong>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="uid" class="form-control uid2" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Approve File Record-->
    <form action="/tracker/files/approve?_method=put" method="post">
        <div class="modal fade" id="ApproveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Approve File Record</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="amount">Vetted Amount</label>
                            <input type="text" name="vettedAmount" class="form-control amount"
                                placeholder="Vetted Amount" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message
                                <span class="small">(upto 150 characters)</span>
                            </label>
                            <input type="text" name="message" class="form-control message" placeholder="Message"
                                optional>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="uid" class="uid4">
                        <input type="hidden" name="action" class="action">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Approve</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Return File Record-->
    <form action="/tracker/files/return?_method=put" method="post">
        <div class="modal fade" id="ReturnModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Return File Record</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="message">Message
                                <span class="small">(upto 150 characters)</span>
                            </label>
                            <input type="text" name="message" class="form-control message" placeholder="Message"
                                optional>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="uid" class="uid5">
                        <input type="hidden" name="action" class="action">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        $(document).ready(function () {
            // $('#mytable').DataTable({
            //     //"scrollX": true,
            //     "order": [[4, 'desc']],
            //     "columnDefs": [{
            //         "orderable": false,
            //         "targets": 6
            //     }]
            // });

            // function DoOnCellHtmlData(cell, row, col, data) {
            //     var result = "";
            //     if (typeof data != 'undefined' && data != "") {
            //         var html = $.parseHTML(data);

            //         $.each(html, function () {
            //             if (typeof $(this).html() === 'undefined')
            //                 result += $(this).text();
            //             else if (typeof $(this).attr('class') === 'undefined' || $(this).hasClass('th-inner') === true)
            //                 result += $(this).html();
            //         });
            //     }
            //     return result;
            // }
            $('#mytable').bootstrapTable('refreshOptions', {
                exportOptions: {
                    ignoreColumn: [10],
                    fileName: 'file-report_' + new Date().getTime()
                    //onCellHtmlData: DoOnCellHtmlData
                }
            });

            //showing modal for delete record
            $('.addNew').on('click', function () {
                $('#myModalAdd').parent('form').attr('action', '/tracker/files/save');
                $('#myModalAdd').modal('show');
            });

            //showing data to modal for edit record
            $('#mytable').on('click', '.edit', function () {
                //$('.allocation').html('<option value="none" selected disabled>Select allocation</option>');
                $('#myModalAdd').parent('form').attr('action', '/tracker/files/update?_method=put');
                var fileId = $(this).data('id');
                $.ajax({
                    type: 'GET',
                    url: '/tracker/api/files/' + fileId,
                    complete: function (res) {
                        let fileRecord = res.responseJSON;
                        console.log(fileRecord);
                        $('#myModalAdd').modal('show');
                        $('.name').val(fileRecord.name);
                        $('.amount').val(fileRecord.amount);
                        $('.dealer').val(fileRecord.dealer);
                        $('.contact').val(fileRecord.contact);
                        $('.fundType').val(fileRecord.fundType);
                        $('.allocation').append('<option selected value="' + fileRecord.allocation + ' ">' + fileRecord.allocation + '</option>');
                        //$('.allocation').val(fileRecord.allocation);
                        $('.financialYear').val(fileRecord.financialYear);
                        $('.onBehalfOf').val(fileRecord.onBehalfOf);
                        $('.category').val(fileRecord.category);
                        $('.uid').val(fileRecord.uid);
                    }
                });
            });

            $("#myModalAdd").on("hidden.bs.modal", function () {
                $(this).parent('form')[0].reset();
            });

            //showing modal for delete record
            $('#mytable').on('click', '.delete', function () {
                var fileId = $(this).data('id');
                $('#DeleteModal').modal('show');
                $('.uid2').val(fileId);
            });
            //showing modal for change status record
            $('#mytable').on('click', '.action', function () {
                var fileId = $(this).data('id');
                var action = $(this).data('action');
                if (action === 'Approve') {
                    $('#ApproveModal').modal('show');
                    $('.uid4').val(fileId);
                    $('.action').val(action);
                } else if (action === 'Return') {
                    $('#ReturnModal').modal('show');
                    $('.uid5').val(fileId);
                    $('.action').val(action);
                } else {
                    $('#StatusModal').modal('show');
                    $('.uid3').val(fileId);
                    $('.action').val(action);
                }
            });

            //showing modal for approve file record
            // $('#mytable').on('click', '.approve', function () {
            //     var fileId = $(this).data('id');
            //     var action = $(this).data('action');
            //     $('#ApproveModal').modal('show');
            //     $('.uid4').val(fileId);
            //     $('.action').val(action);
            // });
            $(".onBehalfOf").change(function () {
                let financial_year = $('#financialYear').val();
                if (financial_year !== null) {
                    let on_behalf_user_id = $('.onBehalfOf').val();
                    $.ajax({
                        type: 'GET',
                        url: '/tracker/files/onbehalfUser/' + on_behalf_user_id,
                        complete: function (res) {
                            let userData = res.responseJSON;
                            let limit_per_file = userData.designation.capping_per_file;
                            let limit_per_finyear = userData.designation.capping_per_finyear;

                            if (userData.reports && userData.reports.length > 0) {
                                let report = userData.reports.find((report) => report.financial_year === financial_year);
                                if (report) {
                                    let available_amount = limit_per_finyear - report.consumed_amount;
                                    $('#myModalAdd #amount_label').html('Amount  <span class="small">(Available amount=Rs. ' + available_amount + ', Limit per quotation=Rs. ' + limit_per_file + ' )');
                                    $('#myModalAdd #amount').attr("max", report.limit_per_file);
                                } else {
                                    $('#myModalAdd #amount_label').html('Amount  <span class="small">(Available amount = undefined, Limit per quotation = undefined)');
                                }
                            }
                        }
                    });
                }
            });

            $(".financialYear").change(function () {
                let financial_year = $('#financialYear').val();
                let on_behalf_user_id = $('.onBehalfOf').val();
                $.ajax({
                    type: 'GET',
                    url: '/tracker/files/onbehalfUser/' + on_behalf_user_id,
                    complete: function (res) {
                        let userData = res.responseJSON;
                        let limit_per_file = userData.designation.capping_per_file;
                        let limit_per_finyear = userData.designation.capping_per_finyear;
                        if (userData.reports && userData.reports.length > 0) {
                            let report = userData.reports.find((report) => report.financial_year === financial_year);
                            if (report) {
                                let available_amount = limit_per_finyear - report.consumed_amount;
                                $('#myModalAdd #amount_label').html('Amount  <span class="small">(Available amount=Rs. ' + available_amount + ', Limit per quotation=Rs. ' + limit_per_file + ' )');
                                $('#myModalAdd #amount').attr("max", report.limit_per_file);
                            } else {
                                $('#myModalAdd #amount_label').html('Amount  <span class="small">(Available amount = undefined, Limit per quotation = undefined)');
                            }
                        }
                    }
                });



                // older one
                // let userData = JSON.parse(($('.user').val()));
                // let limit_per_file = userData.designation.capping_per_file;
                // let limit_per_finyear = userData.designation.capping_per_finyear;
                // if (userData.reports && userData.reports.length > 0) {
                //     let report = userData.reports.find((report) => report.financial_year === $('.financialYear').val());
                //     if (report) {
                //         let available_amount = limit_per_finyear - report.consumed_amount;
                //         $('#myModalAdd #amount_label').html('Amount  <span class="small">(Available amount=Rs. ' + available_amount + ', Limit per quotation=Rs. ' + limit_per_file + ' )');
                //         $('#myModalAdd #amount').attr("max", report.limit_per_file);
                //     } else {
                //         $('#myModalAdd #amount_label').html('Amount  <span class="small">(Available amount = undefined, Limit per quotation = undefined)');
                //     }
                // }
            });

            $(".fundType").change(function () {
                let head_val = jQuery(this).val();
                $.ajax({
                    type: 'GET',
                    url: '/tracker/subheads/' + head_val,
                    complete: function (res) {
                        let subheads = res.responseJSON;
                        $('.allocation').html('<option value="none" selected disabled>Select allocation</option>');
                        $.each(subheads, function (i, val) {
                            $('.allocation').append('<option value="' + val + '">' + val + '</option>');
                        });
                    }
                });
            });

            //showing modal for file info view
            $('#mytable').on('click', '.info', function () {
                var fileId = $(this).data('id');
                $.ajax({
                    type: 'GET',
                    url: '/tracker/api/files/' + fileId,
                    complete: function (res) {
                        let fileRecord = res.responseJSON;
                        let status_arr = fileRecord.status;
                        let html = '<div>'
                        if (fileRecord.vettedAmount) {
                            html += '<div class="form-group"><label class="small">Vetted Amount - ' + fileRecord.vettedAmount + '</label></div>';
                        }
                        if (fileRecord.message) {
                            html += '<div class="form-group"><label class="small">Message - ' + ((fileRecord.message) ? fileRecord.message : 'NA') + '</label></div>';
                        }
                        html += '<div class="form-group"><label class="small">Amount Applied - Rs. ' + fileRecord.amount + '</label></div>';
                        html += '<div class="form-group"><label class="small">Financial Year - ' + fileRecord.financialYear + '</label></div>';
                        html += '<div class="form-group"><label class="small">Created By - ' + fileRecord.createdBy.name + '</label></div>';
                        html += '<div class="form-group"><label class="small">Created At - ' + fileRecord.createTimestamp + '</label></div>';
                        html += '</div>'
                        html += '<table class="table table-sm w-auto small" id="mytable"><thead><tr><th>From (Status)</th><th>Changed To (Status)</th><th>Date</th></tr></thead><tbody>';
                        status_arr.forEach((item, i) => {
                            if (i !== 0) {
                                html += '<tr><td>' + status_arr[i - 1].status + ' </td><td>' + item.status + '</td><td>' + item.createdOn + '</td></tr>'
                            }
                        });
                        html += '</tbody></table>';
                        $('#InfoModal').modal('show');
                        $('#InfoModal .modal-body').html(html);
                    }
                });
            });
        });
    </script>
</body>

</html>