<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="author" content="">


	<title>Update File Record</title>


	<!--Font Awesome-->
	<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/css/service.css">

</head>

<body>
	<%- include header.ejs %>
	<% if (typeof message !== 'undefined') { %>
	<div id="msgid"><i class="fa fa-check" aria-hidden="true"></i><span> <%= message %></span></div>
	<% } %>
	<br>
	<br>
	<div class="overlay">
		<form action="/tracker/api/files/<%=record.uid%>?_method=PUT" enctype="application/json" method="POST">
			<!--   con = Container  for items in the form-->
			<div class="con">
				<!--     Start  header Content  -->
				<header class="head-form">
					<h2>Update File Record</h2>
				</header>
				<!--     End  header Content  -->
				<br>
				<br>
				<div class="field-set">


					<span class="input-item">
						<i class="fa fa-file" aria-hidden="true"></i>
					</span>
					<label for="name">File Name</label>
					<input class="form-input" type="text" readonly="true" placeholder="File Name" id="name" name="name"
						value='<%=record.name%>'>

					<br>
					<br>

					<span class="input-item">
						<i class="fa fa-check"></i>
					</span>

					<input class="form-input" id="amount" name="amount" type="text" placeholder="Amount"
						value='<%=record.amount%>'>
					<br>
					<br>

					<span class="input-item">
						<i class="fa fa-check"></i>
					</span>

					<input class="form-input" id="financialYear" name="financialYear" type="text" readonly="true"
						placeholder="Amount" value='<%=record.financialYear%>'>
					<br>
					<br>

					<span class="input-item">
						<i class="fa fa-check"></i>
					</span>

					<input class="form-input" id="dealer" name="dealer" type="text" placeholder="Dealer" readonly="true"
						value='<%=record.dealer%>'>
					<br>
					<br>

					<span class="input-item">
						<i class="fa fa-check"></i>
					</span>

					<input class="form-input" id="contact" name="contact" type="text" placeholder="Contact No"
						readonly="true" value='<%=record.contact%>'>
					<br>
					<br>

					<span class="input-item">
						<i class="fa fa-check"></i>
					</span>

					<input class="form-input" id="category" name="category" type="text" placeholder="Category"
						readonly="true" value='<%=record.category%>'>
					<br>
					<br>

					<button type="submit" id="addbtn"> Submit </button>
				</div>


				<!--   End Conrainer  -->
			</div>

			<!-- End Form -->
		</form>
	</div>
	<script src="/js/serviceJS.js"></script>

</body>


</html>